<h3>Tout les tickets</h3>

<table class="table table-striped">
    <tr>
        <th>Ticket Id</th>
        <th>Titre</th>
        <th>Priorité</th>
        <th>Créer par</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="ticket in tickets">
        <td>{{ $index + 1 }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.priority}}</td>
        <td>{{ ticket.createby.lastname }} {{ticket.createby.firstname }}</td>
        <td>{{ ticket.status}}</td>
        <td><a ng-href="/tickets/{{ticket._id}}">Voir</a></td>
    </tr>

</table>